@font-face {
    font-family: cardiz;
    src: url(../fonts/cadiz-regular.woff2);
}

@font-face {
    font-family: sofia proBold;
    src: url(../fonts/SofiaPro-Bold.woff2);
}

@font-face {
    font-family: sofia proMedium;
    src: url(../fonts/SofiaProMedium.woff2);
}

#d-hero-slider {
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    background-color: #EF4043;
    color: white;
}

.d-hero-items {
    align-items: start;
}

#d-hero-items-txt {
    width: 85%;
    margin: auto;
}

#d-hero-items-txt h2 {
    font-family: sofia proBold;
}

#d-hero-items-txt p {
    font-family: sofia proRegular;
}

#d-hero-items-txt button,
.d-hero2-grid button,
.d-hero3-grid button,
.d-hero4-grid button,
.d-hero5-grid button {
    font-size: 16px;
    border: none;
    padding: 16px 20px;
    border-radius: 49px;
    /* width: 40%; */
    min-width: 180px;
    font-family: sofia proRegular;
    background-color: #0085CA;
    color: white;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    -ms-border-radius: 49px;
    -o-border-radius: 49px;
}

#d-hero-items-txt button {
    background-color: white;
    color: black;
}

#d-hero-items-txt button:hover {
    cursor: pointer;
    background-color: #FBCACB;
}

#d-hero-items-img {
    background-image: url('https://www.poketo.com/cdn/shop/files/pk_5050_hero_vibrant_binder_clips.webp?v=1719483839&width=1070');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#d-marquee {
    background-color: #0085CA;
    color: white;
    padding: 20px 0;
}

#d-marquee h2 {
    text-align: center;
    margin: 0;
    font-size: 30px;
}

#d-marquee2 {
    background-color: #AD2071;
    color: white;
    font-size: 30px;
}

#d-marquee2 h1 {
    font-family: sofia proBold;
    font-size: 46px;
    margin: 0;
    padding: 25px 0;
}

#d-marquee img {
    margin-left: 20px;
}

#d-hero2 {
    background-color: #E2E0F8;
}

#d-hero3 {
    background-color: #FFD46F;
}

#d-hero4 {
    background-color: #B3E5B4;
}

#d-hero5 {
    background-color: #A38AC1;
    color: white;
}

.d-hero2-5-txt {
    /* width: 80%; */
    margin: auto;
}

.d-hero2-5-txt h1 {
    /* width: 80%; */
    margin: 0;
    font-family: sofia proBold;
}

.d-hero2-5-txt p {
    font-family: sofia proRegular;
}

.d-hero2-grid,
.d-hero3-grid,
.d-hero4-grid,
.d-hero5-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

.d-hero2-grid {
    gap: 50px;
    width: 92%;
}

.d-hero5-grid {
    padding: 0;
    gap: 50px;
}

.d-hero2-grid h1,
.d-hero3-grid h1,
.d-hero4-grid h1,
.d-hero5-grid h1 {
    font-size: 38px;
}

.d-hero4-grid h1 {
    font-size: 46px;
    /* font-weight: 800; */
}

.d-hero5-grid h1 {
    font-size: 46px;
    line-height: 46px;
}

.d-hero5-grid p {
    width: 102%;
}

#d-new-pres {
    margin-left: 100px;
}

#d-pattern-family {
    padding: 0 0 0 40px;
    margin-left: 35px;
    padding-bottom: 20px;
}

.d-hero5-grid button {
    background-color: white;
    color: black;
}

.d-hero2-grid button:hover,
.d-hero3-grid button:hover,
.d-hero4-grid button:hover {
    background-color: #3F9ED7;
    cursor: pointer;
}

.d-hero5-grid button:hover {
    background-color: #E5DEEE;
    cursor: pointer;
}

#d-hero2-img,
#d-hero3-img,
#d-hero4-img,
#d-hero5-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#d-hero2-img {
    height: 500px;
}

#d-hero2-img {
    background-image: url('https://www.poketo.com/cdn/shop/files/pk_5050_6_4.webp?v=1717159237&width=1500');
    border-radius: 17px;
}

#d-hero3-img {
    background-image: url('https://www.poketo.com/cdn/shop/files/pk_m_home_bis_poketo_x_headspace.webp?v=1707924533&width=1500');
}

#d-hero4-img {
    background-image: url('https://www.poketo.com/cdn/shop/files/pk_5050_store.webp?v=1708087342&width=1070');
}

#d-hero5-img {
    background-image: url('https://www.poketo.com/cdn/shop/files/XPB-M-Home-5050-Media-PatternFamily-01-2x.jpg?v=1679056208&width=1070');
    height: 400px;
}


/*slider slick */

.d-slick-slider {
    width: 95%;
    margin: 0 auto;
}

.slick-next,
.slick-prev {
    top: -35px;
    right: 0;
    background-color: #0085CA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.d-prev-arrow, 
.d-next-arrow, 
.d-prev-arrow2, 
.d-next-arrow2{
    background-color: #0085CA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    position: absolute;
}

.d-prev-arrow:hover, 
.d-next-arrow:hover,
.d-prev-arrow2:hover, 
.d-next-arrow2:hover{
    cursor: pointer;
}

.d-next-arrow,.d-next-arrow2 {
    right: 40px;
}

.d-prev-arrow, .d-prev-arrow2{
    right: 100px;
}

.slick-prev {
    left: 91%;
}

.slick-next:hover,
.slick-prev:hover {
    background-color: #0085CA !important;
}

.slick-prev:focus,
.slick-next:focus,
.slick-prev:active,
.slick-next:active {
    background-color: #0085CA;
}

.slick-prev:before,
.slick-next:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
}

.slick-prev:before {
    transform: rotate(45deg);
    margin-left: 10px;
}

.slick-next:before {
    transform: rotate(-135deg);
    margin-right: 10px;
}

.d-slick-items {
    grid-template-rows: 2fr 1fr;
    min-height: 541px;
}

.d-product-selected-size div {
    padding: 3px 7px;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 10px;
}

.d-selected-size {
    border: 1px solid black;
}

.d-color-selection-outer {
    border-radius: 50%;
    padding: 2px;
}

.d-selected-color {
    border: 1px solid #0085CA;
}

.d-color-selection {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.d-color-selection:hover {
    cursor: pointer;
}

.d-product-colors {
    margin-bottom: 10px;
}

.d-slider-product-item {
    position: relative;
    /* margin-right: 40px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    transition: .3s ease-in-out;
    justify-content: center;
    width: 95%;
    margin: auto;
}

.d-slider-product-item:hover {
    cursor: pointer;
}

.d-slider-product-desc {
    width: 95%;
}

.d-addCart {
    position: absolute;
    bottom: 10px;
    width: 90%;
    border-radius: 30px;
    border: none;
    padding: 20px 0;
    font-weight: 500;
    font-size: 16px;
    font-family: sofia proRegular;
}

.d-addCart:hover {
    cursor: pointer;
}

.d-item-tag {
    position: absolute;
    top: 10px;
    font-family: sofia proRegular;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    border-radius: 20px;
    padding: 4px 8px;
    left: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.d-fixed-nav {
    border-bottom: 1px solid #0085CA;
}

#d-first-slider,
#d-second-slider {
    margin-top: 70px;
    position: relative;
}

#d-second-slider {
    margin-bottom: 70px;
}

#d-first-slider h1,
#d-second-slider h1 {
    font-size: 38px;
    width: 95%;
    margin: auto;
    padding-bottom: 30px;
    font-family: sofia proBold;
}

.d-product-title-slider {
    font-size: 20px;
    font-weight: 500;
    font-family: sofia proMedium;
}

.d-slider-product-rating,
.d-slider-product-price, .d-discountedPriceValue {
    font-family: sofia proRegular;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.d-quantity-avail {
    color: rgba(0, 0, 0, 0.76);
}

#d-insta-vids {
    text-align: center;
    margin: 50px 0;
}

#d-insta-vids h1 {
    font-size: 62px;
    /* font-weight: 600; */
    margin: 0;
    font-family: sofia proBold;
}

#d-insta-vids a {
    color: rgb(0, 133, 202);
    font-size: 28px;
    /* font-weight: 600; */
    font-family: sofia proBold;
}

#d-insta-vids-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}

#d-insta-vids-grid div {
    width: 100%;
    height: auto;
}

#d-insta-vids-grid video,
#d-insta-vids-grid img {
    width: 100%;
    height: 242px;
    object-fit: cover;
}


/* media queries */

@media screen and (max-width: 1024px) {
    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .d-next-arrow,
    .d-prev-arrow, 
    .d-prev-arrow2, 
    .d-next-arrow2{
        display: none !important;
    }
}

@media screen and (max-width: 1024px) and (min-width:786px) {
    #d-insta-vids-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    #d-insta-vids-grid video,
    #d-insta-vids-grid img {
        height: 300px;
        object-fit: cover;
    }
}

@media screen and (max-width: 786px) {
    #d-hero-items-txt button,
    .d-hero2-grid button,
    .d-hero3-grid button,
    .d-hero4-grid button,
    .d-hero5-grid button {
        width: 100%;
    }
    #d-hero-slider {
        grid-template-columns: 1fr;
    }
    .d-hero2-grid,
    .d-hero3-grid,
    .d-hero4-grid,
    .d-hero5-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    #d-new-pres {
        margin-left: 0;
        ;
    }
    #d-pattern-family {
        margin-left: 25px;
        padding: 0;
        padding-bottom: 20px;
        
    }
}

@media screen and (max-width: 786px) and (min-width:425px) {
    #d-insta-vids-grid {
        grid-template-columns: 1fr 1fr;
    }
    #d-insta-vids-grid video,
    #d-insta-vids-grid img {
        height: 300px;
        object-fit: cover;
    }
}

@media screen and (max-width: 425px) {
    #d-insta-vids-grid {
        grid-template-columns: 1fr;
    }
    #d-insta-vids-grid video,
    #d-insta-vids-grid img {
        height: 300px;
        object-fit: cover;
    }
}