.MaiN-Box{
    margin: auto;
    max-width: 30%;
    /* display: flex;
    justify-content: center; */
    margin-top: 40px;
    font-family: 'Sofia Sans', sans-serif;
}

.J-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: .5px solid rgba(128, 128, 128, 0.384);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.208); */
    margin: auto;
    width: 100%;
    /* height: 500px; */
    padding-bottom: 50px;
    
}

.J-card h1{
    font-size: 45px;
    margin: 0;
    font-weight: 600;
}


.input{
    width: 100%;
    padding-left: 10px;
    border: none;
    margin-top: 30px;
    background: #ddd;
    color: #000;
    

}

.input{
    height: 30px;
}

.Jbtn1{
    margin-top: 50px;
    padding: 10px 20px;
    width: 45%;
    height: 60px;
    color: white;
    background-color: #0085ca;
    border-radius: 30px;
    outline: none;
    font-weight: 600;
    border: none;
    transition: .3s ease;
}

.Jbtn1:hover {
    background-color: #6392f0;
    cursor: pointer;
}

.error{
    border-color: red;
}

.error-message{
    color: red;
    display: none;
    margin: 0;
    font-size: 12px;
    margin-bottom: 4px;
}
#RegisterForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* media query for reg form */

@media (min-width: 320px) and (max-width: 768px) {
    .MaiN-Box{
        max-width: 70%;
    }
    .card-J{
        display: grid;
        width: 80%;
        margin: auto;
        grid-template-columns: 1fr;
    }


    .card-J input{
        width: 80%;
    }

}