#d-hero-slider {
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    background-color: #EF4043;
    color: white
}

.d-hero-items {
    align-items: start;
}

#d-hero-items-txt {
    width: 85%;
    margin: auto;
}

#d-hero-items-txt button,
.d-hero2-grid button,
.d-hero3-grid button,
.d-hero4-grid button,
.d-hero5-grid button {
    font-size: 16px;
    border: none;
    padding: 16px 33px;
    border-radius: 30px;
    width: 50%;
}

.d-hero4-grid button {
    width: 70%;
}

#d-hero-items-txt button:hover {
    cursor: pointer;
    background-color: #FBCACB;
}

#d-hero-items-img {
    background-image: url('https://www.poketo.com/cdn/shop/files/pk_5050_hero_vibrant_binder_clips.webp?v=1719483839&width=1070');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#d-marquee {
    background-color: #0085CA;
    color: white;
    padding: 20px 0;
}

#d-marquee h2 {
    text-align: center;
    margin: 0;
    font-size: 30px;
}

#d-marquee2 {
    background-color: #AD2071;
    color: white;
    font-size: 30px;
}

#d-marquee img {
    margin-left: 20px;
}

#d-hero2 {
    background-color: #E2E0F8;
}

#d-hero3 {
    background-color: #FFD46F;
}

#d-hero4 {
    background-color: #B3E5B4;
}

#d-hero5 {
    background-color: #A38AC1;
    color: white;
}

.d-hero2-5-txt {
    width: 80%;
    margin: auto;
}

.d-hero2-grid,
.d-hero3-grid,
.d-hero4-grid,
.d-hero5-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

.d-hero2-grid h1,
.d-hero3-grid h1,
.d-hero4-grid h1,
.d-hero5-grid h1 {
    font-size: 38px;
}

.d-hero2-grid button,
.d-hero3-grid button,
.d-hero4-grid button {
    background-color: #0085CA;
    color: white;
}

.d-hero5-grid button {
    background-color: white;
    color: black;
}

.d-hero2-grid button:hover,
.d-hero3-grid button:hover,
.d-hero4-grid button:hover {
    background-color: #3F9ED7;
    cursor: pointer;
}

.d-hero5-grid button:hover {
    background-color: #E5DEEE;
    cursor: pointer;
}

#d-hero2-img,
#d-hero3-img,
#d-hero4-img,
#d-hero5-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#d-hero2-img {
    background-image: url('https://www.poketo.com/cdn/shop/files/pk_5050_6_4.webp?v=1717159237&width=1500');
    border-radius: 17px;
}

#d-hero3-img {
    background-image: url('https://www.poketo.com/cdn/shop/files/pk_m_home_bis_poketo_x_headspace.webp?v=1707924533&width=1500');
}

#d-hero4-img {
    background-image: url('https://www.poketo.com/cdn/shop/files/pk_5050_store.webp?v=1708087342&width=1070');
}

#d-hero5-img {
    background-image: url('https://www.poketo.com/cdn/shop/files/XPB-M-Home-5050-Media-PatternFamily-01-2x.jpg?v=1679056208&width=1070');
    background-size: contain;
    height: 450px;
}
/*slider slick */

.d-slick-slider {
    width: 95%;
    margin: 0 auto;
}

.slick-next,
.slick-prev {
    top: -35px;
    right: 0;
    background-color: #0085CA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.slick-prev {
    left: 92%;
}

.slick-next:hover,
.slick-prev:hover {
    background-color: #0085CA !important;
}


.slick-prev:focus,
.slick-next:focus,
.slick-prev:active,
.slick-next:active {
    background-color: #0085CA;
}

.slick-prev:before,
.slick-next:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
}

.slick-prev:before {
    transform: rotate(45deg);
    margin-left: 10px;
}

.slick-next:before {
    transform: rotate(-135deg);
    margin-right: 10px;
}


.d-slick-items {
    grid-template-rows: 2fr 1fr;
    min-height: 541px;
}

.d-product-selected-size div {
    padding: 3px 7px;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 10px;
}

.d-selected-size {
    border: 1px solid black;
}

.d-color-selection-outer {
    border-radius: 50%;
    padding: 2px;
}

.d-selected-color {
    border: 1px solid #0085CA;
}

.d-color-selection {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.d-color-selection:hover {
    cursor: pointer;
}

.d-product-colors {
    margin-top: 30px;
}

.d-slider-product-item {
    position: relative;
    margin-right: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    transition: .3s ease-in-out;
}

.d-slider-product-item:hover {
    cursor: pointer;
}

.d-slider-product-desc {
    width: 95%;
}

.d-addCart {
    position: absolute;
    bottom: 10px;
    width: 90%;
    border-radius: 30px;
    border: none;
    padding: 20px 0;
    font-weight: 500;
}

.d-addCart:hover {
    cursor: pointer;
}

.d-item-tag {
    position: absolute;
    top: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    border-radius: 20px;
    padding: 5px;
    left: 20px;
    letter-spacing: 1.5px;
}

#d-first-slider,
#d-second-slider {
    margin-top: 70px;
}

#d-first-slider h1,
#d-second-slider h1 {
    font-size: 38px;
    width: 95%;
    margin: auto;
    padding-bottom: 30px;
}

.d-product-title-slider {
    font-size: 20px;
    font-weight: 500;
}

.d-slider-product-rating,
.d-slider-product-price {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

#d-insta-vids {
    text-align: center;
    margin: 50px 0;
}

#d-insta-vids h1 {
    font-size: 62px;
    font-weight: 600;
    margin: 0;
}

#d-insta-vids a {
    color: #0085CA;
    font-size: 28px;
    font-weight: 600;
}

#d-insta-vids-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}

#d-insta-vids-grid div {
    width: 100%;
    height: auto;
}

#d-insta-vids-grid video,
#d-insta-vids-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* media queries */

@media screen and (max-width: 1024px) {
    .slick-prev,
    .slick-next {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) and (min-width:786px) {
    #d-insta-vids-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    #d-insta-vids-grid video,
    #d-insta-vids-grid img {
        height: 300px;
        object-fit: cover;
    }
}

@media screen and (max-width: 786px) {
    #d-hero-items-txt button,
    .d-hero2-grid button,
    .d-hero3-grid button,
    .d-hero4-grid button,
    .d-hero5-grid button {
        width: 100%;
    }
    #d-hero-slider {
        grid-template-columns: 1fr;
    }
    .d-hero2-grid,
    .d-hero3-grid,
    .d-hero4-grid,
    .d-hero5-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 786px) and (min-width:425px) {
    #d-insta-vids-grid {
        grid-template-columns: 1fr 1fr;
    }
    #d-insta-vids-grid video,
    #d-insta-vids-grid img {
        height: 300px;
        object-fit: cover;
    }
}

@media screen and (max-width: 425px) {
    #d-insta-vids-grid {
        grid-template-columns: 1fr;
    }
    #d-insta-vids-grid video,
    #d-insta-vids-grid img {
        height: 300px;
        object-fit: cover;
    }
}