html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* common styles */

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.d-justify-center {
  justify-content: center;
}

.d-justify-between {
  justify-content: space-between;
}

.d-align-center {
  align-items: center;
}

.d-gap-20 {
  gap: 20px;
}

.d-gap-10 {
  gap: 10px;
}
.d-display-none {
  display: none;
}
/* nav styles */

.d-top-container {
  background-color: #0085ca;
  padding: 1px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.d-fixed-nav {
  padding: 16px;
  background: white;
  z-index: 20;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}



.d-sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.d-sticky-nav + .content {
  padding-top: 102px;
}

#d-fixed-container {
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

#logo-responsive, 
#d-hamburger-menu{
  display: none;
}

#d-hamburger-menu{
background-color: white;
padding: 0 25px;
width: fit-content;
position: absolute;
left: -100%;
top: 100px;
overflow-y: scroll;
z-index: 50;
height: 80vh;
}

#d-hamburger-menu ul{
  padding: 0;
  list-style: none;
}
#d-hamburger-menu ul a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
#d-nav-links {
  list-style: none;
}

#d-nav-links a {
  color: black;
  text-decoration: none;
}

#d-nav-links a:hover {
  color: rgb(63, 63, 63);
}

#d-left-nav {
  justify-content: space-between;
}

#d-right-nav {
  justify-content: space-between;
  color: #0085ca;
}
#d-right-nav svg:hover {
  cursor: pointer;
  opacity: 0.8;
}
.bi-chevron-down {
  color: #0085ca;
}
#d-cart-nav{
  position: relative;
   width: fit-content; 
   color: black;
  }

  #d-cart-items-num{
    position: absolute; 
    right: 7px; 
    top: -3px; 
    font-size: 11px;
  }


#d-cart-modal{
  display: none;
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: end;
  color: black;
  letter-spacing: 0.1px;


 }

#d-cart-info{
  background-color: white;
  padding: 0 25px;
  width: 500px;
  height: 100vh;
  position: relative;
  left: 100%;
  /* left: 0; */
}

#d-close-cart:hover{
cursor: pointer;
}



#d-cart-header{
  justify-content: space-between;
}
#d-cart-info svg{
  color: #0085ca;
}

#d-cart-hr{
  height: 8px;
   border-radius: 30px; 
   background-color: #0085ca; 
   border: none;
}

#d-cart-contents{
  height: 30vh;
  overflow-y: auto;
}

#d-price{
  font-weight: bold;
}

#d-checkout-btn{
  background-color: #0085ca;
  border: none;
  padding: 20px 0;
  color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

#d-payment-options{
  margin-top: 20px;
}

.d-cart-item-desc{
  grid-template-columns: 2fr 1fr;
  margin: 30px 0;
  padding: 0 20px;
}
.d-cart-item-desc-left{
  justify-content: space-between;
  align-items: end;
}
#d-add-remove-num{
  border: 1px solid #0085ca;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 100px;
    padding: 10px 0;

}

#d-amt-items{
  width: 30px; 
  border: none; 
  text-align: center;
}


#d-nav-dropdown-menu-container {
  position: absolute;
  width: 100%;
  background-color: white;
  right: 0;
  left: 0;
}

#d-nav-dropdown-menu {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  width: 90%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: white;
}

#d-dropdown-shopall-nav {
  align-self: start;
}

#d-dropdown-shopall-nav ul {
  list-style: none;
  padding: 0;
}

#d-dropdown-shopall-nav ul a {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-weight: bold;
}

#d-dropdown-shopall-nav ul a:hover {
  color: rgb(63, 63, 63);
}

.d-dropdown-min-links:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(63, 63, 63);
}

.d-fixed-bottom {
  position: fixed;
  bottom: 15px;
}

.d-fixed-bottom:hover {
  cursor: pointer;
}

.d-fixed-bottom-accessibility {
  right: 0;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: white;
  padding: 2px;
}
/* footer styles */

footer {
  background-color: #0085ca;
  color: white;
  padding: 20px;
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
/* width: fit-content; */
  letter-spacing: 0.8px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul a {
  color: #dedede;
  text-decoration: none;
  font-size: 14px;
}

footer ul a:hover {
  color: white;
}
.d-footer-top {
  text-align: center;
}

.d-footer-top p {
  font-size: 12px;
  font-weight: 300;
}

.d-footer-top p:hover {
  cursor: pointer;
  color: #dedede;
}

.d-footer-links {
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
}

.d-footer-links p {
  font-weight: 200;
}

.d-footer-input {
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.d-footer-input input {
  border: none;
  color: blue;
}

.d-footer-input input::placeholder {
  color: #0085ca;
}

.d-footer-input input:focus {
  outline: none;
}

.d-footer-input button {
  background-color: #0085ca;
  color: white;
  border: none;
  padding: 10px 9%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-size: 12px;
  width: 50%;
}

.d-footer-input button:hover {
  cursor: pointer;
}

.d-footer-socials svg:hover {
  cursor: pointer;
  color: #dedede;
}
.d-footer-rating {
  text-align: center;
  font-size: 25px;
}

.d-footer-rating svg:hover {
  cursor: pointer;
}

.d-stars{
    color: #dea439;
}

/* media queries */
@media  screen and (max-width: 1024px) and (min-width: 768px) {
  .d-footer-links {
    grid-template-columns:  repeat(3, 1fr);
    justify-items: center;
    text-align: center;
  }

  #d-left-nav, #d-nav-links{
    display: none;
  }
  #logo{
    display: none;
  }
  #logo-responsive, #d-hamburger-menu{
    display: flex;
  }
  .bi-search, .bi-person{
    display: none;
  }
  #d-cart-info{
    padding: 5px;
    height: fit-content;
  }
}
@media  screen and (max-width: 768px) {
  .d-footer-links {
    grid-template-columns:  1fr;
    justify-items: center;
    text-align: center;
  }

  #d-left-nav, #d-nav-links{
    display: none;
  }
  #logo{
    display: none;
  }
  #logo-responsive, #d-hamburger-menu{
    display: flex;
  }
  .bi-search, .bi-person{
    display: none;
  }
  #d-cart-info{
    padding: 5px;
    height: fit-content;
  }
}